@charset "ISO-8859-1";
html, body {
  background-image: url('../img/pattern.svg');
  background-size: 250px;
  min-width: 100%;
  min-height: 100%;
}

/* Global defined styling */
.fw {
  height: 100%;
  width: 100%;
}

.flex-cc {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

@font-face {
	font-family: 'fas';
	font-weight: 900;
	font-display: block;
	src: url("../font/Font Awesome 5 Free-Solid-900.otf");
}

@font-face {
	font-family: 'far';
	font-weight: 400;
	font-display: block;
	src: url("../font/Font Awesome 5 Free-Regular-400.otf");
}

/* MAIN */
div.main > div {
   width: 500px;
   min-height: 400px;
   max-height: 600px;
   overflow-y: auto;
   display: flex;
   flex-direction: column;
   background-color: white;
   border-radius: 10px;
   position: relative;
   align-items: center;
}

div.main > div h1 {
   width: 100%;
   background-color: #ee4949;
   color: white;
   font-weight: 700;
   padding: 20px 0;
   text-align: center;
   border-radius: 10px 10px 0 0;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
}

h1 i {
   position: absolute;
   left: 20px;
   font-size: 18px;
   background: #00000015;
   border-radius: 8px;
   padding: 8px;
}

div.list-functions {
   width: 100%;
   height: 80px;
   bottom: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 0 0 10px 10px;
}

div.list-functions > a {
   background-color: #399445;
   color: white;
   font-size: 18px;
   font-weight: 900;
   padding: 7px 16px;
   border-radius: 8px;
   margin: 0 10px;
}

div.list-functions > a#cancelEdit {
   background-color: #00000000;
   color: black;
}

div.list-functions > a:hover {
   cursor: pointer;
   background-color: #20752b;
}

div.list-functions > a#cancelEdit { background-color: #00000022; }

#shoppingList {
   width: calc(100% - 30px);
   border-collapse: collapse;
   border-spacing: 0;
}

#shoppingList td, #shoppingList th { text-align: center; }
#shoppingList tr:nth-child(even) td { background-color: #f3f3f3; }
#shoppingList tr td, div.main > div table tr th { padding: 10px 0; }

.la {
   text-align: left !important;
   width: 60% !important;
   padding: 10px 0 10px 15px !important;
}

td input {
   border: none;
   outline: none;
   padding: 8px 8px 8px 12px;
   border-radius: 6px;
   background-color: #f3f3f3;
   width: calc(100% - 15px);
}

i { font-family: 'far' !important; }
td:first-of-type, td:last-of-type { border-radius: 8px 0 0 8px; cursor: pointer; }
td:last-of-type { border-radius: 0 8px 8px 0; }
td:hover i, td.purchased i, h1 i { font-family: 'fas' !important; }
.purchased i { color: #399445; }
td.purchased:hover i { color: #ee4949; }
td.purchased:hover i:before { content: "\f057"; }
h1 i:hover { background-color:  #00000025; cursor: pointer;}
