<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
            
    
    <wb-module deploy-name="shoppinglist-resource-war-0.0.1-SNAPSHOT">
                        
        
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
                        
        
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
                        
        
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
                        
        
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
                        
        
        <property name="java-output-path" value="/sneakerstore-resource-war/target/classes"/>
                
        <property name="component.exclusion.patterns" value="WEB-INF/lib/*.jar"/>
        <property name="context-root" value="shoppinglist-resource-war"/>
                    
    
    </wb-module>
        

</project-modules>
